#calculator {
  width: 40%;
  margin: 10vh 0 0 28%;
}

.cal-val {
  width: 98%;
  height: 2.5rem;
  background-color: rgb(187, 187, 187);
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
}

.grid-item {
  height: 2.5rem;
  border-style: solid;
}

.nill-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.bg-orange {
  background-color: rgb(255, 124, 2);
}
